In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
data = pd.read_csv("https://data.wprdc.org/dataset/5b18c198-474c-4723-b735-cc5220ad43cc/resource/13982f58-e618-400c-8f69-6a32dbd7c68f/download/value.csv")

In [3]:
data

,Neighborhood,Id,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Margin of Error; Total: - $15,000 to $19,999",...,"Estimate; Total: - $500,000 to $749,999","Margin of Error; Total: - $500,000 to $749,999","Estimate; Total: - $750,000 to $999,999","Margin of Error; Total: - $750,000 to $999,999","Estimate; Total: - $1,000,000 to $1,499,999","Margin of Error; Total: - $1,000,000 to $1,499,999","Estimate; Total: - $1,500,000 to $1,999,999","Margin of Error; Total: - $1,500,000 to $1,999,999","Estimate; Total: - $2,000,000 or more","Margin of Error; Total: - $2,000,000 or more"
0,Allegheny Center,1,72.0,28.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
1,Allegheny West,2,69.0,31.000000,4.0,7.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,11.0,17.000000,0.0,10.000000,0.0,10.000000
2,Allentown,3,538.0,112.769677,45.0,33.734256,19.0,21.118712,22.0,26.153394,...,6.0,16.763055,0.0,17.320508,0.0,17.320508,0.0,17.320508,0.0,17.320508
3,Arlington,4,492.0,84.433406,12.0,16.186414,29.0,27.513633,5.0,16.248077,...,7.0,17.916473,0.0,17.320508,3.0,15.779734,0.0,17.320508,0.0,17.320508
4,Arlington Heights,5,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,Upper Lawrenceville,87,594.0,115.952577,0.0,17.320508,0.0,17.320508,17.0,27.856777,...,0.0,17.320508,0.0,17.320508,0.0,17.320508,0.0,17.320508,0.0,17.320508
87,West End,88,35.0,23.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
88,West Oakland,89,204.0,51.855569,0.0,14.142136,0.0,14.142136,10.0,16.401219,...,0.0,14.142136,0.0,14.142136,0.0,14.142136,0.0,14.142136,0.0,14.142136
89,Westwood,90,973.0,102.552426,29.0,25.495098,0.0,14.142136,0.0,14.142136,...,0.0,14.142136,0.0,14.142136,0.0,14.142136,0.0,14.142136,0.0,14.142136
90,Windgap,91,537.0,87.458562,25.0,21.470911,36.0,39.293765,5.0,12.806248,...,0.0,14.142136,0.0,14.142136,0.0,14.142136,0.0,14.142136,0.0,14.142136

In [71]:
len(data.index)

91

In [102]:
total = []
for y in range(0, len(data.index)):
    add = 0
    for x in data.iloc[y, [30,32,34,36,38,40]]:
        add = add + x
    total.append(add)
    
houses = pd.DataFrame(total)
houses

for x in range(0, len(total)):
    houses.rename(index = {x: data.iloc[x, [0]]})
    
houses

        0
0    72.0
1    33.0
2    13.0
3     8.0
4     0.0
..    ...
86  124.0
87    9.0
88   34.0
89  488.0
90  176.0

[91 rows x 1 columns]

In [115]:
percentage = []
for x in range(0, len(total)):
    if data.iloc[x,2] == 0:
        math = -1;  #For the neighboorhoods that had 0 houses in survey
    else:
        math = total[x]/ data.iloc[x, 2] * 100
    percentage.append(math)

house_per = pd.DataFrame(percentage)
house_per.sort_values(0, axis = 0, ascending = False, inplace = False, kind = 'quicksort')

             0
0   100.000000
33   91.139241
82   68.482490
36   67.735471
64   67.261905
..         ...
31    0.000000
57   -1.000000
4    -1.000000
71   -1.000000
35   -1.000000

[91 rows x 1 columns]

In [105]:
data.iloc[1, 2]

69.0

In [98]:
for x in data.iloc[0, [0]]:
    print(x)

Allegheny Center